.landing-bg{
  width: '100%';
  height: auto;
  position: relative;
  margin:0;
  background: #5f2c82;/* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100% 100%;   
  overflow: auto;
}

.clearfix{
  overflow: auto;
}

.header-color{
background: #1D4350;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sidenav-color{
  height: 100%;
  width:  100;
  background:#1D4350;  /* fallback for old browsers */
  background:#1D4350;  /* Chrome 10-25, Safari 5.1-6 */
  background:#1D4350; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  justify-content: space-evenly ;
}

.sidenav-content{
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;
}

/*Landing Page*/

.landing-grid {
 text-align: center;
 top: 0;
 left: 0; 
 width: 100%; 
 height: 100%; 

}

Grid .background {
  background: #0B486B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%; 
  height: 100%; 
  position: absolute;
}
.avatar-img {
  height: 250px; 
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 100%;
  margin : auto;
  border-radius: 10px;
}

.banner-text h1{
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color:white; 
  font-size: 20px;
  padding: 1em;
}

.social-links {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 50%; 
  margin: auto;
}

.social-links i{
  color:white;
  font-size: 4em;
  padding: 8px;
}


/* Projects page */
.projects-grid{
  display:flex;
}


mdl-tabs__tab is-active{
  background-color:white;
}
/*Contact page*/
.contact-body{
  margin: auto;
  margin-top: 4em;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  background: white;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  
}
.contact-grid{
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 500px;
  color: black;
  margin-bottom: 25px;
  padding: 10px
}

.contact-grid h2{
  font-family: 'Quicksand', sans-serif;
  color: black;
}

.contact-grid p{
  font-family: 'oxygen', sans-serif;
  font-weight: bold;
}
.contact-grid hr{
  border-top: 4px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 25px; 
  padding-right: 1rem;
}


/* about me Page*/

.about-right-col {
  height: auto; 
  overflow: auto;
  background: #27221F;
  color: white; 
  margin: auto;
  padding: 10px;
}
 /*Skills*/

 .skills-header{
   color: white;
   padding-bottom: 0;
   margin-bottom: 0;
 }

 .black-text{
   color:black;
 }